<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    {% from "_macros.html" import formularioContactar %}

    <form action="/" method="post">
      {% for i in form %}
      {{ formularioContactar(i) }}
      {% endfor %}


      <button type="submit">Enviar</button>


    </form>
  </body>
</html>
